* {
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    
}

body{
  background-color: #b2ebf2;
  
}


#project-1 {
  height:400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  
}

#projects {
  height: 150px;
  width: 400px;
  margin-top: 15px;
 

}

.card {
  border: 5px solid #616161;
}

